[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
send2trash = "*"
curlywaffle = {git = "git+https://github.com/notteddydev/curly-waffle.git#egg=curlywaffle"}

[dev-packages]

[requires]
python_version = "3.10"
